<div class="container">
    <h1>Pokemon League Registry</h1>
    @for(trainer of trainerService.trainers(); track trainer.name) {
        <div class="trainer-card">
            <h2>Trainer: {{trainer.name}}</h2>
            <ul>
                @for(pokemon of trainer.team; track $index) {
                    <li>
                        <strong> {{ pokemon }}</strong> 
                        <small> Held Item: {{trainer.items[$index]}}
                        </small>
                }
            </ul>
        </div>

    }
</div>
